#footer {
  background-color: #333333;
  padding: 20px 0;
  color: $green;
}
#footer p {
  text-align: right;
}
#footer a {
  font-size: 30px;
  letter-spacing: 20px;
  margin-left: 30px;
  &:hover {
    color: $yellow;
  }
}
